

<div class="p-4" style="border-radius:20px;">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Simulations</h2>
        </div>
        <div class="col-6 text-right">
            <a  asp-action="Upsert" class="btn btn-primary text-white"><i class="fas fa-plus"></i>&nbsp; Create New Simulation</a>
            <a asp-action="ExportToExcellSimulationTable" asp-controller = "Simulation" class="btn btn-info text-dark"><i class="fas fa-plus"></i> &nbsp; Export Table to Excell</a>

        </div>
    </div>
    <br />
    <br />
    <div style="background-color:#cde8e2" class="p-3 rounded">
        <table id="tblData" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr class="table-danger">
                    <th>Simulation Id</th>
                    <th>Simulation Name</th>
                    <th>Job Id</th>
                    <th>Name Job</th>
                    <th></th>

                </tr>
            </thead>
        </table>
    </div>
</div>



@section Scripts{
    <script src="~/js/simulations.js"></script>
}